body {
  background-color: #ffe6e6;
  width: 0 auto;
  text-align: center;
}

header {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 10px;
  margin: 0 auto;
}

.min-rating {
  width: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.form-container {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 30em;
  margin: 0 auto;
}

#bookmark-form {
  border: 2px solid black;
  border-radius: 5px;
  max-width: 30em;
  margin: 0 auto;
}

.delete-bookmark-button {
  margin-bottom: 15px;
}

button {
  background: rgb(56, 73, 230);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline;
}

.bookmark-rating-input {
  width: 50px;
}

.bookmark-id {
  border: 2px solid black;
  border-radius: 5px;
  max-width: 30em;
  margin: 0 auto;
}


ul {
  list-style: none;
  display: inline;
  text-align: center;
}

.container {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0 auto;
    padding: 20px;
}
